body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.circle-scale-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed from center to align the half-circle to the top */
  height: 60vh; /* Increased to give more space */
  background-color: #f0f0f0;
  padding-top: 20px; /* Add some top padding */
}

.circle-scale-container svg {
  max-width: 100%;
  height: auto;
}